@form_background: #f7f8f8;
@form_text-primary-color: #8494ab;
@form_primary-font-size: 16px;
@form_primary-line-height: 21px;
@form_value-text-color: #383d43;
@form_border-color: #e5eaef;

.reset() {
  margin: 0;
  padding: 0;
}

.form-text() {
  margin: 0;
  padding: 0;
  font-size: @form_primary-font-size;
  line-height: @form_primary-line-height;
  color: @form_text-primary-color;
  font-weight: 400;
}

.payment-form {
  padding-top: 20px;
  position: relative;
  font-family: "Arial", sans-serif;
  background-color: @form_background;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.payment-form__table {
  margin-top: 20px;
}

.payment-form__payment-title {
  .form-text;
  padding-left: 14px;
}

.payment-form__text {
  .form-text;
  padding-left: 10px;
}

.payment-form__value {
  .form-text;
  padding-left: 20px;
  color: @form_value-text-color;
}

.payment-form__card-title {
  padding-left: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.payment-form__card-side {
  .reset;
  position: relative;
  box-sizing: border-box;
  width: 320px;
  min-height: 236px;
  border: 1px solid @form_border-color;
  border-radius: 8px;
  overflow: hidden;
  background-color: @form_background;
  z-index: 2;

  &_back {
    position: absolute;
    top: 360px;
    right: 0;
    z-index: 1;
  }
}

.payment-form__card-side-title {
  .form-text;
  margin: 15px;
}

.payment-form__card-numbers {
  margin: 0 auto;
  font-size: 0;
}

.payment-form__card-number {
  display: inline-block;
  vertical-align: baseline;
  width: 20%;
  margin: 0 1.5%;
  text-align: center;

  &:first-of-type {
    margin-left: 5.5%;
  }

  &:last-of-type {
    margin-right: 5.5%;
  }
}

.payment-form__card-dates {
  font-size: 0;
}

.payment-form__select {
  &:first-of-type {
    width: 70px;
    margin-left: 5.5%;
  }

  &:last-of-type {
    width: 85px;
    margin-left: 3%;
  }
}

.payment-form__card-codes {
  position: relative;
  text-align: right;

  &::before {
    content: "";
    margin-top: 27px;
    display: block;
    height: 40px;
    width: 100%;
    background-color: #e4e9ee;
  }
}

.payment-form__cardholder {
  margin-top: 20px;
  margin-left: 5.5%;
  text-transform: uppercase;

  &::placeholder {
    color: @form_text-primary-color;
    transition-duration: 0.2s;
    text-transform: none;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.payment-form__cvc-label {
  .form-text;
  margin-top: 15px;
  display: block;
  text-align: right;
  margin-right: 5.5%;
}

.payment-form__cvc-number {
  width: 130px;
  text-align: center;
  margin-right: 5.5%;
  padding-right: 35px;
}

.payment-form__cvc-info {
  position: absolute;
  z-index: 3;
  top: 78px;
  right: 25px;
}

.payment-form__submit {
  margin-top: 210px;
  margin-bottom: 25px;
  margin-left: 5.5%;
}

@media (min-width: @mobile-width) {
  .payment-form {
    max-width: 540px;
    margin: 0 auto;
  }

  .payment-form__card-side_back {
    top: 220px;
  }

  .payment-form__submit {
    margin-top: 100px;
  }
}

@media (min-width: @tablet-width) {
  .payment-form__card-side {
    width: 350px;

    &_back {
      right: 5%;
    }
  }

  .payment-form {
    float: left;
    width: 70%;
    max-width: 600px;
  }
}

@media (min-width: @desktop-width) {
  .payment-form {
    box-sizing: border-box;
    max-width: 639px;
    padding: 42px 20px 44px 15px;
  }

  .payment-form__table {
    margin-top: 15px;
  }

  .payment-form__text {
    margin-top: 1px;
  }

  .payment-form__value {
    padding-left: 34px;
    margin-top: 1px;
  }

  .payment-form__card-title {
    font-size: 22px;
    margin-top: 27px;
  }

  .payment-form__card-side {
    margin-top: 23px;
    margin-left: 14px;
    min-height: 236px;

    &_back {
      width: 370px;
      top: 204px;
      right: 46px;
    }
  }

  .payment-form__card-side-title {
    margin-top: 20px;
    margin-bottom: 0;

    &_date {
      margin-top: 13px;
    }
  }

  .payment-form__card-number {
    margin: 4px 0 0 9px;
    width: 65px;

    &:first-of-type {
      margin-left: 14px;
    }
  }

  .payment-form__select {
    margin: 4px 0 0 8px;
    background-image: url("../img/expand.png");
    background-position: 60px center;

    &:first-of-type {
      margin-left: 14px;
      background-position: 43px center;
    }
  }

  .payment-form__cardholder {
    margin: 12px 0 0 14px;
    width: 320px;
  }

  .payment-form__cvc-label {
    margin-right: 22px;
  }

  .payment-form__cvc-number {
    margin: 2px 14px 0 0;
    width: 138px;
  }

  .payment-form__cvc-info {
    top: 87px;
    right: 24px;
  }

  .payment-form__submit {
    margin: 40px 0 0 29px;
  }
}
