.payments {
  background-color: #f7f8f8;
  min-width: 320px;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: @tablet-width) {
  .payments {
    background-color: #101114;
  }
}

@media (min-width: @desktop-width) {
  .payments {
    width: 960px;
    margin: 79px auto 0;
  }
}
